.reservation {
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #d9e7ff;
}

.reservation__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  margin-top: 0;
}

.reservation__form {
  width: 100%;
  border: 0;
  margin: 0;
  margin-bottom: 120px;
}
