.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Serif",
    Times New Roman, Times, serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  right: 30px;
  top: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  display: block;
  margin-top: 183px;
  max-width: 709px;
}
.header__span-accent {
  font-family: "Noto Serif", Times New Roman, Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__span {
  display: block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}
.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  position: absolute;
  top: 435px;
  left: 80px;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  bottom: 80px;
  right: 5px;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__paragraph {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header-trailing-text {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.header__paragraph {
  margin: 0;
  color: #838383;
}
.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  color: white;
}

.recipes__title {
  max-width: 580px;
  position: absolute;
  left: 80px;
  top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  position: absolute;
  left: 80px;
  top: 176px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 215px;
  height: 100%;
  width: 100%;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 80px;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.reservation {
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #d9e7ff;
}

.reservation__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
}

.reservation__form {
  width: 100%;
  border: 0;
  margin: 0;
  margin-bottom: 120px;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  border: 0;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  padding: 15px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border: solid 1px;
}

.form__input::placeholder {
  color: #838383;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
}
.form__button {
  border-radius: 4px;
  opacity: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  max-width: 385px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  border: 0px solid white;
  color: #ffffff;
}
.form__button:hover {
  border-radius: 4px;
  opacity: 70%;
}

.form__label-check {
  display: flex;
  justify-content: center;
  gap: 12px;
}
